@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
  background: #292929;
}

.wrapper{
  width: 800px;
  background: #fff;
  margin: 80px auto;
  border-radius: 3px;
}

.wrapper .tabs ul{
  width: 100%;
  height: 58px;
  display: flex;
}

.wrapper .tabs ul li{
  width: 25%;
  height: 65px;
  padding: 0 20px;
  text-align: center;
  background: #dbe3eb;
  cursor: pointer;
  text-transform: uppercase;
  color: #8b9393;
  font-size: 14px;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}

.wrapper .tabs ul li:first-child{
  border-top-left-radius: 3px;
}

.wrapper .tabs ul li:last-child{
  border-top-right-radius: 3px;
}

.wrapper .tabs ul li img{
  width: 35px;
  height: 35px;
  display: block;
  margin: 0 auto 3px;
}

.wrapper .content{
  padding: 50px;
  height: 260px;
  border-bottom: 6px solid #44c8fe;
  border-radius: 3px;
}

.wrapper .content .tab_content{
  font-size: 14px;
  line-height: 22px;
}

.wrapper .tabs ul li.active{
  border-top: 6px solid #44c8fe;
  margin-top: -15px;
  background: #fff;
  color: #44c8fe;
  padding-top: 9px;
}
