<html>

<head>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        
        .yike_icon{
            margin-left: 0px;
            margin-right: 0px;
            font-size: 24px;

        }
    </style>
</head>

<body>
        <div bis_skin_checked="1"><button onclick="document.getElementById('imgInp').click()"class="yike_button_icon mdc-button mdc-button--raised ">  <span class="mdc-button__ripple" aria-hidden="true"></span><i class="material-icons mdc-button__icon" style="margin-left:0px;margin-right: 0px;font-size: 36px;height: 36px;width: 36;">add_photo_alternate</i></button></div>
        <img id="blah" src="#" alt="." />
        <input type='file' id="imgInp" />
        
</body>
<script>
function readURL(input) {
    console.log(input);
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      
      reader.onload = function(e) {
        $('#blah').attr('src', e.target.result);
      }
      
      reader.readAsDataURL(input.files[0]);
    }
  }
  
  $("#imgInp").change(function() {
    readURL(this);
  });
</script>

</html>