{% load static %}
{% block extrahead %}

<script src="https://balkangraph.com/js/latest/OrgChart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- <meta name="viewport" content="width=device-width, user-scalable=no" /> -->
<style>

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:80%;
  }

  .button2 {background-color: #008CBA;} /* Blue */
  .button3 {background-color: #f44336;} /* Red */
  .button5 {background-color: #555555;} /* Black */


html, body{
width: 100%;
height: 100%;
padding: 0;
margin:0;
/* overflow: hidden; */
font-family: Helvetica;
}
#tree{
width:100%;
height:100%;
padding: 1px;

}
</style>


{% endblock %}

{% block body %}

<body>

<div style="float:left; width:86%;border-style: groove;">
  <div id="tree">

  </div>
</div>


<div style="float:left; width:13%; background-color:rgb(255,255,255);height:100%;margin:left:40px;border-style: groove;">

  <br>  <br> <br>  <br>

  <button id="btn" class="button">Add Node</button>
<br><br>

  <button onclick="change_name()" class="button button2">Change name</button>
  <br>
  <br>
  <button onclick="remove()" class="button button3">Remove Node</button>
  <br>
  <br>
  <!-- <button class="button button4">Gray</button> -->
  <button onclick="save()" class="button button5">Save</button>
  <br>


</div>


<script>
// var node=[
//                     { id: 1, hierarchy: "a"},
//                     { id: 2, pid: 1, hierarchy: "b" },
//                     { id: 3, pid: 1, hierarchy: "c" }
//                 ];

console.log('here')
var node = {{node|safe}}
var dep_name = '{{dep_name}}'
var dep_id = '{{dep_id}}'
console.log(node)
var chart = new OrgChart(document.getElementById("tree"), {

                nodeBinding: {
                    field_0: "hierarchy",
                },
                nodes: node
            });
            // console.log(typeof(chart))
          // console.log(chart)
          // console.log(node)

            // var newNodes = [
            //     { id: 4, pid: 2, name: "Elliot Patel", title: "Sales" },
            //     { id: 5, pid: 2, name: "Lynn Hussain", title: "Sales" },
            //     { id: 6, pid: 3, name: "Tanner May", title: "Developer" },
            //     { id: 7, pid: 3, name: "Fran Parsons", title: "Developer" }
            // ];

            document.getElementById("btn").addEventListener("click", function () {
                // var n = newNodes.splice(0, 1)[0];
                var nx = prompt("Please enter the hierarchy to which this node has to be added:");
                var i;
                var hid=0;
                var tpid;
                console.log(node)
                var nodes = node
                console.log(nodes)
                for(i in nodes){
                  console.log(typeof(nodes[i]['hierarchy']))
                  if(nodes[i]['hierarchy']==nx){
                    tpid=nodes[i]['id']
                  }
                  if(nodes[i]['id']>hid){
                    hid=nodes[i]['id']
                  }
                }
                if(tpid == null){
                  alert(" The given hierarchy is not available ")
                }
                else{
                  console.log('a')
                  var n = prompt("Please enter the new hierarchy:");
                  p={ id: hid+1, pid: tpid, hierarchy: n}
                  console.log(p)
                  console.log('b')
                  chart.addNode(p);
                  console.log(typeof(p))
                  console.log(typeof(node))
                  console.log(node)
                  console.log(node.length)
                  len = node.length
                  // node[len] = p
                  console.log(node)
                }
            });


          function remove() {
            var nx = prompt("Please enter the hierarchy that is to be deleted:");
                var nodes = node;
                var tpid;
                var id;
                console.log(nodes)
                for(i in nodes){
                  console.log(typeof(nodes[i]['hierarchy']))
                  if(nodes[i]['hierarchy']==nx){
                    tpid=nodes[i]['id'];
                    id = i;
                  }
                }
                if(tpid == null){
                  alert(" The given hierarchy is not available ")
                }
                else if(tpid==0){
                  alert(" Cant remove root ")
                }
                else{

                chart.removeNode(tpid);
                console.log(id)
                console.log(node)
                console.log(tpid)
              }
          }


          function change_name(){
            var nx = prompt("Please enter the hierarchy, the name that has to be changed:");
                var i;
                var hid=0;
                var tpid;
                var id;
                console.log(node)
                var nodes = node
                console.log(nodes)
                for(i in nodes){
                  console.log(typeof(nodes[i]['hierarchy']))
                  if(nodes[i]['hierarchy']==nx){
                    tpid=nodes[i]['id'];
                    id=i;
                  }
                  if(nodes[i]['id']>hid){
                    hid=nodes[i]['id']
                  }
                }
                if(tpid == null){
                  alert(" The given hierarchy is not available ")
                }
                else{
                  console.log('a')
                  var n = prompt("Please enter the new hierarchy:");
                  node[id]['hierarchy']=n;
                  console.log(node)
                  chart.draw()
                }


          }


      function save(){
        console.log(JSON.stringify(node))
        no = JSON.stringify(node)
        $.ajax({
                type: 'POST',
                url: 'http://127.0.0.1:8000/orgadmin/departments_hierarchy_update/',
                data: { 'tasks': no,
                        'dep_id': dep_id,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
               },
                dataType: 'json',
                success: function(data) {
                  console.log(data);
                }
            });


      }

</script>





</body>

{% endblock %}
