{% extends 'home/base2.html' %}
{% load static %}

{% block extrahead %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--<link rel="stylesheet" type="text/css" href="{% static 'orgadmin/css/dummy.css' %}">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<style>


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  border-radius: 10px;
  margin-bottom: 3%;
	margin-left: 3%;

}
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 15%;
  border-radius: 10px;
  margin-bottom: 3%;
	margin-left: 3%;

}
.centered {
  margin-left: 6%;

}
.button{
display:inline-block;
padding:0.3em 1.2em;
margin:0 0.3em 0.3em 0;
border-radius:13%;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#FFFFFF;
background-color:#0055b4;
text-align:center;
transition: all 0.2s;
width:11.5%
}
.button:hover{
  color:#000000;
  background-color:#3377ff;
}
@media all and (max-width:30em){
 .button{
display:block;
margin:0.2em auto;
 }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color:#64B9E0;
  background: url("/static/orgadmin/images/Complaint2.jpg") 50% 0 no-repeat fixed );
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color:#990000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover{
  color: rgb(255, 2, 2);
  text-decoration: none;
  cursor: pointer;
}
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

</style>
{% endblock %}


{% block body %}

<div style="margin-top:5%;width:100%;position:relative;" >
  <table style="width: 100%;">
    <tr>
      <td style="width: 50%;">
        <h2 style="margin-left:4%;" >Organization's Joined</h2>
      </td>
      <td  align="right" style="width:49%;margin-right:10%;padding-right: 10%;">
          <button id="myBtn" class="button" onclick="openForm()">Create</button>
      </td>
    </tr>
  </table> <br>
    {% if topics_created_size > 0 %}
        {% for i, j in topics_created %}
                <div class="card" style="float: left;">
                    <div>  <img src="{% static 'dashboard/complaint.png' %}" alt="Avatar" style="opacity:0.8;" >
                    </div>
                <div>    <h4 class="centered" style="color:black;text-align: center ;">{{i}}</h4>
                  </div>
                </div>
        {% endfor %}
        {% endif %}<br><br><br><br><br><br><br><br><br><br>

<div>
    <div style="margin-top:5%;" >
        <table style="width: 100%;">
            <tr>
              <td style="width: 50%;">
                  <h2 style="margin-left:4%;position: absolute;" >Organization's Created</h2>
              </td>
              <td align="right" style="width:49%;margin-right:10%;padding-right: 10%;">
                  <button  class="button" onclick="openForm()">Join</button>

                  </div>
              </td>
            </tr>
          </table> <br>
     <br> <br>
        {% if topics_size > 0 %}
            {% for i, j in topics %}
                    <div class="card1" style="float:left;">
                        <div>  <img src="{% static 'dashboard/complaint.png' %}" alt="Avatar" style="opacity:0.8;" >
                        </div>
                    <div>    <h4 class="centered" style="color:black;text-align: center ;">{{i}}</h4>
                      </div>
                    </div>
            {% endfor %}
            {% endif %}
    </div>
</div>


<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
    <form action="" class="form-container">
        <h1>Create Organization</h1>
  
        <label ><b>Organization Name:</b></label>
        <input type="text" placeholder="Organization Name" name="name" required><br><br>
        <button type="submit" class="button" style="width:6%;border-radius:13%;">Submit</button> <br><br><br><br><br>  
    </form>
  </div>
</div>
  
  {% block scripts %}
    
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");   

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

  {% endblock %}
  

{% endblock %}
