{% extends 'home/base2.html' %}
{% load static %}

{% block extrahead %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!--<link rel="stylesheet" type="text/css" href="{% static 'orgadmin/css/dummy.css' %}">-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<style>

.body{
  font-family : Avenir black !important;
}

.w3-card-4:{
  margin-bottom:1.5%;
}
.w3-card-4:hover{
box-shadow: 10px 10px 10px grey;
}

.bottom{
border-top-color:rgb(224, 224, 224);
border-top-style: solid;
border-top-width: 0.0625rem;
}

.image {
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: right;
    height: 4.6875rem;
    position: relative;
    margin-top: -3.09375rem;
    width: 4.6875rem;
}

.middle{

box-flex: 1;
flex-grow: 1;
min-height: 100;
padding: 1rem;
padding-top: 1rem;
padding-top: .75rem;
padding-bottom:6rem;
}


.button{
  border-color: powderblue;
  color: rgb(10, 10, 10);
  border-radius:13%;
  background-color: transparent;;
  width:11.5%;
  font-family : Avenir Black;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  text-align:center;
  transition: all 0.2s;
/* display:inline-block;

border-radius:13%;
box-sizing: border-box;
text-decoration:none;
font-family : Avenir Black;
font-weight:300;
color:#FFFFFF;
background-color:#0055b4;


width:11.5% */
}
.button:hover{
  background: #2196F3;
  color: white;
  /* color:#000000;
  background-color:#3377ff; */
}
@media all and (max-width:30em){
 .button{
display:block;
margin:0.2em auto;
 }
}

.modal {
  font-family : Avenir Black;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /*Black w/ opacity*/
}

/* Modal Content */
.modal-content {
  background-color:#FFFFFF;
  /* background: url("/static/orgadmin/images/Complaint2.jpg") 50% 0 no-repeat fixed ); */
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 30%;
  font-family : Avenir Black;
}

.input{
font-family : Avenir Black;
box-flex: 1;
flex-grow: 1;
flex-shrink: 1;
font-family: Roboto,Arial,sans-serif;
font-size: 16px;
font-weight: 400;
letter-spacing: .1px;
line-height: 24px;
background-color:transparent;
border: none;
box-sizing: content-box;
caret-color:#1a73e8;
display: block;
height: 24px;
margin: 0;
margin-left:3% ;
padding: 16px;
padding-top: 0.5%;
padding-bottom: 0%;
min-width: 0%;
outline: none;
z-index: 0;
}
.line{
  display: block rgba(0,0,0,0.87);;
  border-top:1px solid rgba(0,0,0,0.87);;
  width:33%;
  margin-left:6% ;
  height:50% ;
}


/* The Close Button */
.close {
  color:#990000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover{
  color: rgb(255, 2, 2);
  text-decoration: none;
  cursor: pointer;
}
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}


</style>
{% endblock %}


{% block body %}

<div style="margin-top:5%;width:100%;" >
  <table style="width: 100%;">
    <tr>
      <td style="width: 50%;">
        <h2 style="margin-left:7%;font-family : Avenir Black;" >Organization's Joined</h2>
      </td>
      <td align="right" style="width:49%;margin-right:10%;padding-right: 10%;">
                  <button id="join_btn" class="button" onclick="openForm()">Join</button>
              </td>
    </tr>
  </table> <br>
    {% if topics_created_size > 0 %}
        {% for i,j in topics_created %}
        <div class="main" style="margin-left:2%;" >
            
            <div class="w3-card-4" style="width:15%;float:left;margin-left: 1.5%;padding:none;margin-top: 0%;" >
                
              <div class="w3-container w3-blu" style="height:50%;background-color: powderblue;">
                  
          <br>{{i}}<br><br>
              </div>
          
              <div class="middle" >
                  <img class=image src="{% static 'orgadmin/images/subu.jpg' %}" alt="Avatar"  >
              <!-- <img class="image" aria-hidden="true" src="//lh3.googleusercontent.com/a-/AAuE7mBhXW5QT3UXXW5eAXXfNiEsqhzTkeL-5vZup3yo=s75-c"> -->
                
              </div>
          
              <div class="bottom">
                <br><br>
              </div>
            </div>
          <!-- </a> -->
          </div>


               
        {% endfor %}
        {% endif %}<br><br><br><br>


    <div style="margin-top:5%;" >
        <table style="width: 100%;">
            <tr>
              <td style="width: 50%;"><br>
                  <h2 style="margin-left:7%;font-family : Avenir Black;" >Organization's Created</h2>
              </td>
              <td  align="right" style="width:49%;margin-right:10%;padding-right: 10%;">
               <button id="myBtn" class="button" onclick="openForm()">Create</button>
              </td> 
            </tr>
          </table> <br>
     
        {% if topics_size > 0 %}
            {% for i, j in topics %}
            <div class="main" style="margin-left:2%;" >
                <a href = "{% url 'orgadmin:dashboard' j %}">
                  

                
                  <div class="w3-card-4" style="width:15%;float:left;margin-left: 1.5%;padding:none;margin-top: 0%;" >
                    <div class="w3-container w3-blu" style="height:50%;background-color: powderblue;">
                <br>{{i}}<br><br>
                    </div>
                
                    <div class="middle" >
                        <img class=image src="{% static 'dashboard/complaint.png' %}" alt="Avatar" >
                    <!-- <img class="image" aria-hidden="true" src="//lh3.googleusercontent.com/a-/AAuE7mBhXW5QT3UXXW5eAXXfNiEsqhzTkeL-5vZup3yo=s75-c"> -->
                      
                    </div>
                    <div class="bottom">
                        <br><br>
                      </div>
                      </div>
                  </a>
            </div>

            {% endfor %}
            {% endif %}
    </div>



<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
    <form class="form-container" action="{% url 'orgadmin:created' %}" method="post" id="create_form">
        {% csrf_token %}
        <h1 style="font-family : Avenir Black;">Create Organization</h1>
  
           <!-- <label ><b>Organization Name:</b></label> -->
        <div style="padding-top:10%">
        <span style="font-size:25px">Organisation Name</span>   
        <input style="font-family : Avenir Black;" class="input" type="text" placeholder="Organization Name" name="name" required>
        </div>
        <div style="padding-top:10%">
        <span style="font-size:25px">Enter Code</span>
        <input style="font-family : Avenir Black;" class="input" type="text" placeholder="Enter Code" name="code" required>
        </div>
        <div style="padding-top:10%">
        <span style="font-size:25px">Select Image</span>
        <input style="font-family : Avenir Black;" class="input" type="file"  name="image"  accept="image/*"required><br>
        </div>
        <div>
        <textarea name="orga_info" rows="10" cols="30">Enter Company Info Here..</textarea>
        </div>
        <div style="padding-top:10%">
        <button type="submit" class="button" style="font-family : Avenir Black;width:18%;border-radius:13%;color:rgb(10, 10, 10);margin-left:5% ;text-align:center ;">Create</button> <br><br><br><br><br>  
        </div>
    </form>
    

  </div>
</div>


<div id="join_modal" class="modal">
    <div class="modal-content ">
        <span class="close">&times;</span>
    <form class="form-container" action="{% url 'orgadmin:join' %}" method="post" >
      {% csrf_token %}
        <h1 style="font-family : Avenir Black;">Join Organization</h1>
  
           <!-- <label ><b>Organization Name:</b></label> -->
        <input style="font-family : Avenir Black;" class="input" type="text" placeholder="Enter Code to Join" name="join_code" required>
        <hr class="line">
        <button type="submit" class="button" style="font-family : Avenir Black;width:18%;border-radius:13%;color: rgb(10, 10, 10);margin-left:5% ;text-align:center ;">Join</button> <br><br><br><br><br>  
    </form>
  </div>
</div>

  
  {% block scripts %}
    
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
 

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}


</script>
<script>
var modal_join = document.getElementById("join_modal");
var btn_join = document.getElementById("join_btn");
var span = document.getElementsByClassName("close")[1];
  btn_join.onclick = function() {
  modal_join.style.display = "block";
}
span.onclick = function() {
  modal_join.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal_join.style.display = "none";
  }
}
</script>



  {% endblock %}
  

{% endblock %}
