{% extends 'home/base2.html' %}

{% load static %}

{% block extrahead %}
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Analytics Dashboard - This is an example dashboard created using build-in elements and components.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

<link href="{% static 'dashboard/main.cba69814a806ecc7945a.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>

<!--Google Fonts	-->
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Oswald" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


.modal {
  font-family : Avenir Black;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /*Black w/ opacity*/
}

/* Modal Content */
.modal-content {
  background-color:#FFFFFF;
  /* background: url("/static/orgadmin/images/Complaint2.jpg") 50% 0 no-repeat fixed ); */
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 30%;
  font-family : Avenir Black;
}

.input{
font-family : Avenir Black;
box-flex: 1;
flex-grow: 1;
flex-shrink: 1;
font-family: Roboto,Arial,sans-serif;
font-size: 16px;
font-weight: 400;
letter-spacing: .1px;
line-height: 24px;
background-color:transparent;
border: none;
box-sizing: content-box;
caret-color:#1a73e8;
display: block;
height: 24px;
margin: 0;
margin-left:3% ;
padding: 16px;
padding-top: 0.5%;
padding-bottom: 0%;
min-width: 0%;
outline: none;
z-index: 0;
}
.line{
  display: block rgba(0,0,0,0.87);;
  border-top:1px solid rgba(0,0,0,0.87);;
  width:33%;
  margin-left:6% ;
  height:50% ;
}


/* The Close Button */
.close {
  color:#990000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover{
  color: rgb(255, 2, 2);
  text-decoration: none;
  cursor: pointer;
}
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
  cursor: pointer;
}


.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

</style>
{% endblock %}

{% block body %}
<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
    <div class="ui-theme-settings">
        <div class="theme-settings__inner">
            <div class="scrollbar-container">
                <div class="theme-settings__options-wrapper">
                    <h3 class="themeoptions-heading">Layout Options
                    </h3>
                    <div class="p-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="switch has-switch switch-container-class" data-class="fixed-header">
                                                <div class="switch-animate switch-on">
                                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="success">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Fixed Header
                                            </div>
                                            <div class="widget-subheading">Makes the header top fixed, always visible!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="switch has-switch switch-container-class" data-class="fixed-sidebar">
                                                <div class="switch-animate switch-on">
                                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="success">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Fixed Sidebar
                                            </div>
                                            <div class="widget-subheading">Makes the sidebar left fixed, always visible!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="switch has-switch switch-container-class" data-class="fixed-footer">
                                                <div class="switch-animate switch-off">
                                                    <input type="checkbox" data-toggle="toggle" data-onstyle="success">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Fixed Footer
                                            </div>
                                            <div class="widget-subheading">Makes the app footer bottom fixed, always visible!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h3 class="themeoptions-heading">
                        <div>
                            Header Options
                        </div>
                        <button type="button" class="btn-pill btn-shadow btn-wide ml-auto btn btn-focus btn-sm switch-header-cs-class" data-class="">
                            Restore Default
                        </button>
                    </h3>
                    <h3 class="themeoptions-heading">
                        <div>Sidebar Options</div>
                        <button type="button" class="btn-pill btn-shadow btn-wide ml-auto btn btn-focus btn-sm switch-sidebar-cs-class" data-class="">
                            Restore Default
                        </button>
                    </h3>
                    <h3 class="themeoptions-heading">
                        <div>Main Content Options</div>
                        <button type="button" class="btn-pill btn-shadow btn-wide ml-auto active btn btn-focus btn-sm">Restore Default
                        </button>
                    </h3>
                    <div class="p-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="pb-2">Page Section Tabs
                                </h5>
                                <div class="theme-settings-swatches">
                                    <div role="group" class="mt-2 btn-group">
                                        <button type="button" class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class" data-class="body-tabs-line">
                                            Line
                                        </button>
                                        <button type="button" class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class" data-class="body-tabs-shadow">
                                            Shadow
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <h5 class="pb-2">Light Color Schemes
                                </h5>
                                <div class="theme-settings-swatches">
                                    <div role="group" class="mt-2 btn-group">
                                        <button type="button" class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class" data-class="app-theme-white">
                                            White Theme
                                        </button>
                                        <button type="button" class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class" data-class="app-theme-gray">
                                            Gray Theme
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>    <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>    <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading" style="text-size:20px;padding-top:10%">
                                Menu
                            </li>
                            <li class="mm-active" style="padding-top:5%;font-size:20px">
                                <a href="{% url 'orgadmin:dashboard' org_id %}">
                                    Dashboard
                                </a>
                            </li>                                                 
                            <li class="mm-active" style="padding-top:5%;font-size:20px">
                                <a href="{% url 'orgadmin:departments' %}">
                                    Departments
                                </a>
                            </li>
                            <li class="mm-active" style="padding-top:5%;font-size:20px">
                                <a href="{% url 'orgadmin:about' org_id %}">
                                    About
                                </a>           
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
              <div class="app-main__outer">
                <div class="app-main__inner">
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
                    <!-- Main Content -->
                    <!-- Search Bar -->
                    <div class="container">
                    <div class="row">
                      <p style="font-family: Josefin Sans;font-size:45px">Departments in your organizations</p>
                    </div>
                    {% if messages %}
                      <ul class="messages">
                        {% for message in messages %}
                        <div class="w3-panel w3-red w3-display-container">
                      <span onclick="this.parentElement.style.display='none'"
                      class="w3-button w3-large w3-display-topright">&times;</span>
                          <h4 class="{{ message.tags }}" style="font-family:avenir Black ;"> {{ message }}</h4>

                        </div>  
                        {% endfor %}
                      </ul>
                    {% else %}
                        <h1>
                            Hello {{uname}}!   
                        </h1>
                    {% endif %}


                        <br>
                        <br>
                        {% if topics_size > 0 %}
                        <h1 style="font-family:avenir Black ;"> Please select a department to check and edit the hierarchy of it.  </h1>
                        <br>
                        <div class="card-body row no-gutters align-items-center">
                          <form action="{% url 'orgadmin:hierarchy' %}" method="post" >
                            {% csrf_token %}
                          <div class="col-sm-8 input-group dropdown" style="width: 700px;">
                                        <select class="form-control select2 dropdown-toggle" name="dep" value=" " >
                                          {%for i in dep %}
                                              <option value={{i.1}}_{{i.0}} style="width: 700px;"> {{i.0}} </option>
                                          {%endfor%}
                                        </select>
                          </div>
                          <br>
                          <div class="col-sm-4">
                                  <input style="font-family:avenir Black;" type="submit" value="check hierarchy" name="submit" class="btn btn-outline-success btn-lg">
                          </div>
                        </form>
                        </div>
                      {% endif %}

                      {% if topics_size == 0 %}
                        <h1 style="font-family:avenir Black ;"> Please create departments for your organization to organize the hierarchy.  </h1>
                      {% endif %}

                        <br><br><br>
                        <!-- <br><br><br><br><br><br><br><br> -->

                        <h1 style="font-family:avenir Black ;"> Click here to create new department in your organization  </h1>
                        <br>

                        <div class="w3-container">
                          <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large">Create department</button>

                          <div id="id01" class="w3-modal">
                            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                              <div class="w3-center"><br>
                              </div>
                              <form class="w3-container" action="{% url 'orgadmin:create_department' %}" method="post">
                                {% csrf_token %}
                                <div class="w3-section">
                                  <label><b>New Department name</b></label>
                                  <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Department name" name="depname" required>
                                  <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Create</button>

                                </div>
                              </form>

                              <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                                <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                              </div>

                            </div>
                          </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src=" {% static 'dashboard/main.cba69814a806ecc7945a.js' %}"></script>
<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}


</script>
{% endblock %}
