@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');


body {
    background-color: #f5f7fa !important;

}

.navbar{
    margin-bottom: 0px !important;
}

.navbar-default{
    border-radius: 0 !important;
    background-color: #0055b4 !important;
    padding: 10px !important;
    padding-left: 30px !important;
}

.navbar-default .navbar-brand{
    color:white !important;
    padding-right: 50px !important;
}

.navbar-default .navbar-nav > li > a {
    color: white !important;
}
.nav-list {
    list-style-type: none !important;
    margin-top:10px !important;
    padding:10px !important;
    overflow: hidden !important;
}

.nav-list-item-left {
    text-align: left !important;
    display: inline-block !important;
    transition: 0.3s !important;
}

.nav-list-item-right {
    text-align: right !important;
    display: inline-block !important;
    transition: 0.3s !important;
}

.cols{
    background-color: #fff !important;
    padding: 30px !important;
    font-family: 'Montserrat', sans-serif !important;
    border:1px #e0e0e0 solid !important;
        border-radius: 6px !important;

}

.divs{
    background-color: #fff !important;
    padding: 30px !important;
    font-family: 'Montserrat', sans-serif !important;
    border:1px #e0e0e0 solid !important;
        border-radius: 6px !important;

}
